@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie

<p>Thank you for adding to the Joel Hilton Movie Database. Your response has been recorded:</p>

<p>You entered:</p>
<p>Category: @Model.Category</p>
<p>Title: @Model.Title</p>
<p>Year: @Model.Year</p>
<p>Director: @Model.Director</p>
<p>Rating: @Model.Rating</p>
<p>Edited: @Model.Edited</p>
<p>Lent To: @Model.LentTo</p>
<p>Notes: @Model.Notes</p>
<br />
<p>Thanks Again!</p>